@media only screen and (min-width: 1920px) {
  .cartaimagenes1 {
    height: 1200px;
    width: 1200px;
  }
  .cartaimagenes2 {
    height: 1200px;
    width: 1200px;
  }
  .cartaimagenes3 {
    height: 1200px;
    width: 1200px;
  }
  .cartaimagenes4 {
    height: 1200px;
    width: 1200px;
  }
  .cartaimagenes5 {
    height: 1200px;
    width: 1200px;
  }
  .googlemap {
    width: 700px;
    height: 550px;
  }
  .menunav {
    margin-left: 100px;
  }
  .navbar {
    font-size: 35px;
  }
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: red;
  }
  .pandita {
    height: 45px;
  }
  body {
    background: black;
  }
  .telefono {
    font-size: 125%;
  }
  .telefono .icontel {
    margin-top: -3px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 1080px) {
  .cartaimagenes1 {
    height: 1200px;
    width: 1000px;
  }
  .cartaimagenes2 {
    height: 1200px;
    width: 1000px;
  }
  .cartaimagenes3 {
    height: 1200px;
    width: 1000px;
  }
  .cartaimagenes4 {
    height: 1200px;
    width: 1000px;
  }
  .cartaimagenes5 {
    height: 1200px;
    width: 1000px;
  }
  .googlemap {
    margin-top: 15%;
    width: 500px;
    height: 490px;
  }
  .menunav {
    margin-left: 5px;
  }
  .navbar {
    font-size: 25px;
  }
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: red;
  }
  .pandita {
    height: 35px;
  }
  body {
    background: black;
  }
  .telefono {
    font-size: 125%;
  }
  .telefono .icontel {
    margin-top: -3px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .cartaimagenes1 {
    height: 1200px;
    width: 700px;
  }
  .cartaimagenes2 {
    height: 1200px;
    width: 700px;
  }
  .cartaimagenes3 {
    height: 1200px;
    width: 700px;
  }
  .cartaimagenes4 {
    height: 1200px;
    width: 700px;
  }
  .cartaimagenes5 {
    height: 1200px;
    width: 700px;
  }
  .googlemap {
    width: 380px;
    height: 490px;
  }
  .telefono {
    margin-left: -100px;
    font-size: 150%;
  }
}

@media only screen and (max-width: 768px) {
  .cartaimagenes1 {
    height: 1200px;
    width: 700px;
  }
  .cartaimagenes2 {
    height: 1200px;
    width: 700px;
  }
  .cartaimagenes3 {
    height: 1200px;
    width: 700px;
  }
  .cartaimagenes4 {
    height: 1200px;
    width: 700px;
  }
  .cartaimagenes5 {
    height: 1200px;
    width: 700px;
  }
  .googlemap {
    width: 350px;
    height: 490px;
  }
  .menunav {
    margin-left: 5px;
  }
  .navbar {
    font-size: 25px;
  }
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: red;
  }
  .pandita {
    height: 35px;
  }
  body {
    background: black;
  }
  .telefono {
    margin-left: -100px;
    font-size: 125%;
  }
  .telefono .icontel {
    margin-top: -3px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 420px) {
  .cartaimagenes1 {
    height: 1200px;
    width: 400px;
  }
  .cartaimagenes2 {
    height: 1200px;
    width: 400px;
  }
  .cartaimagenes3 {
    height: 1200px;
    width: 400px;
  }
  .cartaimagenes4 {
    height: 1200px;
    width: 400px;
  }
  .cartaimagenes5 {
    height: 1200px;
    width: 400px;
  }
  .redes {
    margin-left: 35%;
    margin-top: -10%;
  }
  .telefono {
    margin-left: -150px;
    font-size: 100%;
  }
}

.carrusel {
  margin: 0%;
  padding: 0%;
}

* {
  text-align: center;
}

aside {
  color: white;
}

body {
  margin: 0%;
  padding: 0%;
}

.navbar {
  background: white;
}

.nav-link {
  color: white;
}

footer {
  background: black;
}

p {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

article {
  color: white;
}

aside {
  height: 30px;
}

aside {
  height: 30px;
}

aside .redes {
  letter-spacing: 15px;
}

aside .face:hover, aside .insta:hover, aside .whap:hover {
  -webkit-transform: scale(2.3);
          transform: scale(2.3);
}
/*# sourceMappingURL=stylecarta.css.map */